.modal-container {
    @apply z-40 fixed top-0 left-0 right-0 bottom-0 ;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    @apply z-50 top-12 left-0 right-0 m-auto absolute p-4 rounded-lg max-h-[80vh] overflow-auto max-w-[80vw] w-[600px] bg-gray-200;
}

.pseudo-input {
    @apply flex items-center justify-between border border-gray-200 rounded gap-2 bg-white px-2 py-1;

    & input {
        width: 100%;
        outline: none;
        height: 32px;
        padding: unset;
        border: none;
    }
}

.album-cover {
    background-color: black;
    /* box-shadow: inset 0px 33px 25px 0 #000, inset 0 99px 5px 0px #fff */
}

.album-brief {
    @apply relative;

    &::after {
        @apply bottom-0 left-0 right-0 z-[99] absolute h-1/3 rounded-md;
        content: '';
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,.7));

    }
}